<div class="dark" hidden style="position: absolute; height: 100%;
				width: 100%; background: rgba(0,0,0,0.5); z-index: 1002"></div>
			<div class="head">
				<div class="header">
					<div class="left_head"><img src="images/head2.png" width="60px" style="position: absolute; "></div>
					<div class="right_head">
						<div class="first_name_profile">235235</div>
						<ul class="profile_menu" hidden>
							<li class="first_name_profile"></li>
							<hr>
							<li class="my_profil">Моя страница</li>
							<li class="settings">Настройки</li>
							<hr>
							<li class="logout"> Выход</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="clear"></div>
			<div class="wrapper_profile">
			    <div class="navs">
					<div class="least">Моя страница</div>
					<div class="photoes">Фотографии</div>
					<hr style="width:80%"><br>
					<div class="logout"> Выход</div>
				</div>

				<div class="profile">
					<div class="albums div_photo">
						<div class="my_albums ">
							<div style="display: inline-block;">Мои альбомы <span class="count_albums"></span></div>
							<input type="button" name="add_albums" class="add_albums button_add" style="position:absolute; margin-left: 52.5%; margin-right:10px"  value="Создать Альбом">
						</div>
						<div class="clear"></div>
						<hr>
						<div class="set_albums">
							
						</div>
						<div class="clear"></div>
						<div class="div_photo">
						<!--<div  style="display: inline-block;">Мои фото <span class="count_photo"></span></div>
						<hr>
						<div class="set_all_photo">-->
						</div>
						
					</div>

		    	</div>
			</div>

			<div class="modals" title="Создать альбом" hidden>
				<div class="head_moduls">Создать Альбом</div>
				<div class="content_moduls">										<label for="text_modal">Название</label><br>
					<input type="text" id='text_modal' style="border: 1px solid lightgray;" autofocus><br>
					<label for="texterea_modal">Описание</label><br>
					<textarea id="texterea_modal" style="border: 1px solid lightgray;" cols="63" rows="9"></textarea><br>
				</div>
				<div class='footer_modal'>
					<input type="reset" name="reset_modal" class="reset_modal button_add" value="Отмена">
					<input type="button" name="button_modal_submit" class="button_modal_submit button_add" style="background: #3870b0; color: white; margin-left: 10px" value="Создать альбом">
				</div>
			</div>

			