<div class="head">
				<div class="header">
					<div class="left_head"><img src="images/head2.png" width="60px" style="position: absolute; "></div>
					<div class="right_head">
						<div class="first_name_profile"></div>
						<ul class="profile_menu" hidden>
							<li class="first_name_profile"></li>
							<hr>
							<li class="my_profil">Моя страница</li>
							<li class="settings">Настройки</li>
							<hr>
							<li class="logout"> Выход</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="clear"></div>
<div class="wrapper_profile">
    <div class="navs">
		<div class="my_profil">Моя страница</div>
		<div class="photoes">Фотографии</div>
		<hr style="width:80%"><br>
		<div class="logout"> Выход</div>
	</div>
	<div class="profile">
		<div class="profile_data">
			<div class="photo_container div_photo">
				<div class="photo"></div>
			</div>
		</div>
		<div class="profile_all_data">
			<div class="main_data div_photo">
				<div class="names">
					<span class="first_name_profile"></span> <span class="last_name_profile"></span>
					<div class="quote"></div>
				</div>
				<hr>
				<div>
					<div class="gender_profile">пол:</div>
					<div class="born_profile">День рождения:</div>
				</div>
				<div></div>

			</div>
		</div>
		<div class="clear"></div>
		
	</div>
	
</div>
<div class="clear"></div>
