<div class="head">
				<div class="header">
					<div class="left_head"><img src="images/head2.png" width="60px" style="position: absolute; "></div>
					<div class="right_head">
						<div class="first_name_profile">235235</div>
						<ul class="profile_menu" hidden>
							<li class="first_name_profile"></li>
							<hr>
							<li class="my_profil">Моя страница</li>
							<li class="settings">Настройки</li>
							<hr>
							<li class="logout"> Выход</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="clear"></div>
			<div class="wrapper_profile">
			    <div class="navs">
					<div class="least">Моя страница</div>
					<div class="photoes">Фотографии</div>
					<div class="wideo">Видео</div><br>
					<hr style="width:80%"><br>
					<div class="logout"> Выход</div>
				</div>

				<div class="profile">
					<div class="albums div_photo">
						<div class="my_albums ">
							<div style="display: inline-block;">Редактировать профиль<span class="count_albums"></span></div>
						</div>
						<hr>
						<div class="edit" style="width:100%">
							<div style="float:left; ">
								<label for="name" >Имя</label><br><br>
								<label for="lastname">Фамилия</label><br><br>
								<label for="for">Цитата</label><br><br>
							</div>
							<div >
								<input type="text"  id="name"><br><br>
								<input type="text" id="lastname"><br><br>
								<input type="text" id="quote"><br><br>
							</div >
							<div class="clear"></div>
							
						

							<form class="uploadPhoto">
								<label>фото</label>
									<input type="file"  name="UploadForm[imageFile]"  id="addPhotoField2"  style="border: 1px solid lightgray;""><br>
							</form>
						
						<div style="margin-left: 350px; margin-right: auto;">
							<input type="button" id="edit" class="button_add"  value="Сохранить">
						</div>
					</div>
					
		    	</div>
			</div>
