body {
    background-color: rgb(235, 193, 221);
}
 
.navbar {
    background-color: rgb(141, 125, 161);
    position: absolute;
    width: 400px;
    height:200px;
    left: 500px;
    top: 200px;
    cursor: pointer;
    
}

.submenu {
    display: none;
    
}





