main {
  width: 100%;
  display: flex;
  font-family: monospace;
}

.menu {
  display: flex;
  position: relative;
  margin: auto;
  padding: 0;
  box-sizing: border-box;
}

.menu__tab {
  list-style: none;
  border-radius: 3px;
  padding: 10px 20px;
  cursor: pointer;
  border: 1px solid #eee;
  margin-left: 3px;
  font-size: 18px;
  background-color: #eee;
}

.active {
  background: #fff;
  border-radius: 3px 3px 0 0;
  border-bottom: none;
}

.menu__tab:last-of-type {
  border: 1px solid #eee;
}

.menu__tab__desc {
  position: absolute;
  top: 27px;
  left: 3px;
  width: 99%;
  display: none;
  border: 1px solid #eee;
  border-top: none;
  padding: 10px;
  font-size: 16px;
  line-height: 1.5;
  border-radius: 0 0 3px 3px;
  box-sizing: border-box;
  opacity: .8;
}

.submenu {
  display: none;
  position: absolute;
  top: 43px;
  left: 201px;
  padding: 0;
  width: 118px;
}

.submenu__tab {
  list-style: none;
  padding: 12px 20px;
  cursor: pointer;
  border: 1px solid #eee;
  margin-top: -1px;
  position: relative;
  z-index: 1;
}

.submenu__tab:last-of-type {
  border-radius: 0 0 3px 3px;
}

.submenu__tab:hover {
  background-color: #eee;
  border-radius: 3px;
}

.submenu__tab__desc {
  position: absolute;
  top: 43px;
  left: 3px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #eee;
  width: 99%;
  box-sizing: border-box;
  border-radius: 0 0 3px 3px;
}

.modal {
  display: none;
}

.ui-widget .modal__input {
  outline: none;
  padding-left: 15px;
  font-size: 14px;
  margin-top: 10px;
  font-family: monospace;
  width: 246px;
}

.ui-widget .modal__btn {
  margin-top: 10px;
  font-size: 14px;
  font-family: monospace;
}

.ui-widget-header {
  background: #eee;
  border: none;
  font-family: monospace;
  font-size: 18px;
}

p:first-of-type {
  display: block;
}
