* {
	padding: 0;
	margin: 0;
}
li {
	display: block;
}

.button1,
.button2,
.button3 {
	text-decoration: none;
	position: absolute;
	margin-top: 500px;
	border: 1px solid grey;
	height: 100px;
	width: 100px;
	text-align: center;
}

.but {
	display: flex;
	justify-content: space-around;
}

.subbutton1,
.subbutton2,
.subbutton3 {
	position: absolute;
	text-align: center;
	border: 1px solid orange;
	height: 100px;
	width: 100px;
}
.button1:hover ~ .subbutton1 {
	animation: first 3s ;
	/*transition-delay: .0s;*/
}

.button1:hover  {
	background-color: lightblue;
    transition: background-color 1s linear;
}

.button2 {
	background: #fff;
}

.button2:hover {
	background-color: lightblue;
    transition: background-color 1s linear;
}

.button2:focus ~ .subbutton2 {
	animation: second 4s;
}

.button3 {
	background: #fff; 
}

.button3:hover {
	background-color: lightblue;
    transition: background-color 1s linear;

 }
 .button3:active ~ .subbutton3 {
	animation: third 4s;
}
@keyframes first {

  0% {
  		transition-duration: 3s;
        transform: translate3d(0px, 0px, 0px);
        /*animation-timing-function: ease-in;*/
    }
    50% {
		transition-duration: 3s;
        transform: translate3d(0px, 0px, 0px);
        transform: scale(1.1) rotate(180deg);
        
    }
    75% {

        transform: translate3d(0px, 350px, 0px) rotate(765deg);
    }
    100% {
    	transform: translate3d(0px, 0px, 300px) rotate(765deg);
    }
}

@keyframes second {

  0% {

  		
    }
    50% {
		
        /*transform: translate3d(0px, 350px, 0px);*/
            }
    75% {

        
    }
    100% {
    	transform: translate3d(0px, 350px, 0px) ;
    }
}

@keyframes third {

  0% {
  		
    }
    50% {
       
              
    }
    75% {

        transform: translate3d(200px, 0px, 0px) ;
    }
    100% {
    	transform: translate3d(0px, 0px, 0px) ;
    	animation-timing-function: ease-out;
    }
}

