* {
	margin: 0;
	padding: 0;
}

section {
	background: url("../img/line1.png") repeat;
	width: 500px;
	height: 300px;
	margin: auto;
	margin-top: 200px;
}
.wrapmenu {
	position: absolute;
	margin-left: 90px;
  	margin-top: 70px;
	
}
.menu {
	display: block;
	color: #808080;
	font-family: arial;
}
.menu > li {
	background: linear-gradient( #fefefe,  #ececec);
	border: 1px solid lightgrey;
	display: block;
	width: 300px;
	padding: 8px;
}
.menu > li:hover {
	background-color: lightblue;
	
}

.submenu li {
	background: url("../img/subline1.png") repeat;
	border: 1px solid lightgrey;
	text-align: center;
	font-size: 12px;
	display: block;
	width: 300px;
	height: 40px;
	padding: 8px;

}
