<section class="bg">
  <div class="form">

        <ul class="tab-group">
          <li class="tab active">Log In</li>
          <li class="tab reg">Sign Up</li>
        </ul>

        <div class="tab-content">
          <div id="login">
            <h1>Welcome!</h1>



            <div class="field-wrap">
              <input type="text"required autocomplete="off" class="loginInp" placeholder="Login"/>
            </div>

            <div class="field-wrap">
              <input type="password"required autocomplete="off" class="passInp" placeholder="Password"/>
            </div>



            <button class="button submitBtn button-block">Log In</button>



          </div>
          <div id="signup">
            <h1>Sign Up for Free</h1>

            <form action="/" method="post">

            <div class="top-row">

              <div class="field-wrap">
                <input type="text"required autocomplete="off" placeholder="Login *"/>
              </div>
            </div>

            <div class="field-wrap">
              <input type="password"required autocomplete="off" placeholder="Password *"/>
            </div>

            <div class="field-wrap">
              <input type="email"required autocomplete="off" placeholder="Email *"/>
            </div>

            <button type="submit" class="button button-block"/>Get Started</button>

            </form>

          </div>
        </div><!-- tab-content -->

  </div> <!-- /form -->
</section>
