<section class="bg">
  <div class="form">

      <ul class="tab-group">
        <li class="tab logBtn">Log In</li>
        <li class="tab active">Sign Up</li>
      </ul>

      <div class="tab-content">
        <div id="signup">
          <h1>Sign Up for Free</h1>

          <div class="top-row">

            <div class="field-wrap">

              <input type="text"required autocomplete="off" class="login" placeholder="Login *"/>
            </div>
          </div>

          <div class="field-wrap">
            <input type="password"required autocomplete="off" class="pass" placeholder="Password *"/>
          </div>

          <div class="field-wrap">
            <input type="email"required autocomplete="off" class="email" placeholder="Email *"/>
          </div>

          <button class="button submit button-block">Get Started</button>

        </div>

        <div id="login">
          <h1>Welcome!</h1>

          <form action="/" method="post">

            <div class="field-wrap">
            <label>
              Login<span class="req">*</span>
            </label>
            <input type="text"required autocomplete="off"/>
          </div>

          <div class="field-wrap">
            <label>
              Password<span class="req">*</span>
            </label>
            <input type="password"required autocomplete="on"/>
          </div>



          <button class="button button-block"/>Log In</button>

          </form>

        </div>

      </div><!-- tab-content -->

</div> <!-- /form -->
</section>